@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,400..700;1,75..100,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import "tailwindcss";

@theme {
  --breakpoint-xs: 320px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 960px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1920px;

  --color-brand-primary-light: #bdffe5;
  --color-brand-primary-medium: #00d5ad;
  --color-brand-primary-dark: #0b6c54;
  --color-brand-primary-x-dark: #054434;
  --color-brand-primary-2x-dark: #022b18;

  --color-brand-accessory-x-light: #e4f9f3;
  --color-brand-accessory-light: #92e8cf;
  --color-brand-accessory-medium: #00b79e;
  --color-brand-accessory-beige: #fcf9f4;
  --color-brand-accessory-red: #f11427;
  --color-brand-accessory-magenta: #b51b76;
  --color-cta: #a3da58;

  --color-white: #ffffff;
  --color-x-light: #f8f8f8;
  --color-light: #e3e3e3;
  --color-medium: #b5b5b5;
  --color-dark: #626262;
  --color-x-dark: #313131;
  --color-2x-dark: #121212;

  --color-feedback-success-light: #daf1e2;
  --color-feedback-success-medium: #379559;
  --color-feedback-success-dark: #153822;

  --color-feedback-warning-light: #fef3cd;
  --color-feedback-warning-medium: #dfb623;
  --color-feedback-warning-dark: #735a02;

  --color-feedback-error-light: #f8d3d2;
  --color-feedback-error-medium: #d42f28;
  --color-feedback-error-dark: #7c1b18;
  --color-feedback-error-x-dark: #450f0d;

  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 24px;

  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Open Sans", sans-serif;

  --text-2xs: 14px;
  --text-xs: 16px;
  --text-sm: 18px;
  --text-md: 20px;
  --text-lg: 24px;
  --text-xl: 28px;
  --text-2xl: 40px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --spacing-3xs: 4px;
  --spacing-2xs: 8px;
  --spacing-xs: 16px;
  --spacing-sm: 24px;
  --spacing-md: 32px;
  --spacing-lg: 40px;
  --spacing-xl: 100px;

  --shadow-sm: 1px 1px 30px 30px rgba(0, 0, 0, 0.02);
  --shadow-md: 2px 2px 32px 16px rgba(0, 0, 0, 0.03);
}

:root {
  font-family: "Poppins", "Open Sans", Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
}
